@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}	

body, button, input {
    font-family: 'Righteous', cursive;
    background-color: #222;
    color: #fff;
}

.container {
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

.crud_title {
    text-align: center;
}

.crud_form {
    display: flex;
    margin: 10px 0;
}

.form_input {
    flex: 1;
    margin-right: 5px;
    margin-right: 10px;
    font-size: 1rem;
    border: 1px solid #444;
    background-color: #333;
    color: #eee;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.button:hover {
    transform: scale(1.2);
}

.button-primary {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}
.button--Secondary {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}
.button--Terciary {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.crud_table {
    width: 100%;
    border-collapse: collapse;
}

.table_header, .table_body td{
    border: 1px solid #444;
    padding: 8px;
}

.table_header{
    background-color: #333;
}

.table_body td:nth-child(3) {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 20px 0;
}	

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 5px 0;
}